body {
  background-color: #d0e4fe;
  font-family: sans-serif;
}
h1 {
  color: black;
  text-align: left;
}
p {
  font-size: 14px;
  width: 500px;
  word-wrap: break-word;
}
ul {
  font-family: sans-serif;
  font-size: 14px;
  list-style-type: circle;
  padding: 0px;
  margin-left: 30px;
  margin-top: 0;
  line-height: 1.5em;
  width: 500px;
}
table, th, td {
  font-size: 14px;
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
th {
  text-align: left;
}
h4 {
  width: 500px;
  word-wrap: break-word;
}
footer {
  font-size: 10px;
}